<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
        <add assembly="NLog.Targets.OpenSearch" />
    </extensions>

    <targets>
        <target xsi:type="OpenSearch"
                name="opensearch"
                uri="http://localhost:9200"
                index="simpleauth-api-logs-${date:format=yyyy.MM.dd}">
            <layout xsi:type="JsonLayout" includeAllProperties="true">
                <attribute name="@timestamp" layout="${date:universalTime=true:format=o}" />
                <attribute name="level" layout="${level}" />
                <attribute name="logger" layout="${logger}" />
                <attribute name="message" layout="${message}" />
                <attribute name="action" layout="${event-properties:item=action}" />
                <attribute name="status" layout="${event-properties:item=status}" />
                <attribute name="email" layout="${event-properties:item=email}" />
                <attribute name="userId" layout="${event-properties:item=userId}" />
                <attribute name="traceId" layout="${aspnet-traceidentifier}" />
                <attribute name="path" layout="${aspnet-request-url:IncludeHost=false:IncludeQueryString=false}" />
            </layout>
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="opensearch" />
    </rules>
</nlog>